#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 10px ;
  border: 1px solid #000;
}
.nav-item{
  list-style-type: none;
  display: flex;
}
.nav-item.ul.li{
  margin: 10px;
}